.cartContainer {
  width: 50%;
}

/* CartSummary */
.cartItemsContainer {
  display: flex;
  justify-content: space-between;
}

.cartItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Checkout */

/* Order Confirmed */
