.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100px;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
}

.cartBar {
  width: 50%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
