/* ... MAIN CONTAINER FOR ALL THREE COMPONENTS ... */
.cartPageContainer {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.cartPageContainer > * {
  max-width: var(--max-width);
}
/* ... MAIN CONTAINER FOR ALL THREE COMPONENTS ... */

/* onCheckout === "cart" */
.cartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cartContainer > * {
  margin-bottom: 1rem;
}

.emptyCartContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyCartContainer h2 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .mobileHeaderContainer {
    display: none;
  }

  /* onCheckout === "cart" */
  .cartContainer {
    flex-direction: row;
  }

  .cartItemsContainer {
    border: var(--debug-border) grey solid;
    flex-grow: 2;
  }

  .cartItemContainer {
    border: var(--debug-border) red solid;
  }

  .cartSummaryContainer {
    border: var(--debug-border) blue solid;
    flex-grow: 1;
  }
}

/* onCheckout === "cart" ... CartItems */
.cartItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.cartItemContainer {
  display: flex;
  justify-content: space-between;
}

.cartItemDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.cartItemContainer > div {
  padding: 0.5rem;
}

.cartActionIcons:hover {
  cursor: pointer;
}

/* onCheckout === "cart" ... Cart Summary */
.cartSummaryContainer {
}

/* onCheckout === "checkout" Checkout */

/* onCheckout === "success" Order Confirmed */

/* Utils */
/* TODO: This is not DRY. Need to figure out how to get access to this globally */
.primaryButton {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  border-radius: 0.25rem;
  background-color: var(--tertiary-color);
  width: 100%;
}
