.navContentRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
}

.navContentLeft {
  display: none;
}

.authAction {
  display: none;
}

@media screen and (min-width: 640px) {
  /* TODO: Shrink the options from Nav bar */
  /* .navContentContainer {
    height: var(--nav-bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  .mobileMenuIcon {
    display: none;
  }

  .navContentLeft {
    display: flex;
    align-items: center;
  }

  .navContentLeft,
  .navContentRight {
    gap: 1.5rem;
  }

  .authAction {
    display: list-item;
  }
}

.cartIcon:hover {
  cursor: pointer;
}

.authAction:hover {
  cursor: pointer;
}

.authAction span:hover {
  text-decoration: underline darkgrey;
  text-underline-offset: 0.3rem;
}

.image {
  border-radius: 9999px;
}

.backToCart:hover {
  text-decoration: underline darkgrey;
  text-underline-offset: 0.3rem;
}
