.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  padding: var(--nav-top-bottom-padding) 4vw;
}

.navContent {
  height: var(--nav-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .nav {
    /* TODO: Shrink the options from Nav bar */
  }
}

.signIn {
  background-color: var(--tertiary-color);
  color: #fff;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.375rem;
}

.image {
  border-radius: 9999px;
}
