.productsGrid {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.productContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.priceInfo {
  color: #007aff;
}

.imageInfo {
  /* TODO: we want to avoid setting px for responsive design */
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.productDetails {
  /* TODO: we want to avoid setting px for responsive design */
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding: 12px;
  color: #4a5568;
}

.addToCart {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  border-radius: 0.25rem;
  background-color: var(--tertiary-color);
}
