.productContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.priceInfo {
  color: #007aff;
}

.imageInfo {
  /* TODO: we want to avoid setting px for responsive design */
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.productDetails {
  /* TODO: we want to avoid setting px for responsive design */
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 12px;
  color: #4a5568;
}
